---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Card from '../components/Card.jsx';
const response = await fetch("https://api.studio.thegraph.com/query/55572/akasha/version/latest", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            query: `
            query GetAllRecords {
                recordAddeds {
                    id
                    _recordId
                    _title
                    _description
                    _timestamp
                }
            }
            `,
        })
});
const data = await response.json();
const records = data.data.recordAddeds;
---

<Layout title="Akasha">
	<NavBar active="/" />
	<main class="p-16 flex flex-wrap justify-start items-center">
		{records.map((record) => {
			return (
				<Card title={record._title} content={record._description} id={record._recordId} routePrefix="record/" />
			)
		})}
	</main>
</Layout>
